.score{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    font-size: 18px;
    color: white;
}

.max-score{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: 1;
    font-size: 18px;
    color: white;
}

.generation{
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 1;
    font-size: 18px;
    color: white;
}

.ships-alive{
    position: absolute;
    top: 30px;
    left: 200px;
    z-index: 1;
    font-size: 18px;
    color: white;
}